<!DOCTYPE html>
<html lang="en">
<head>
    <title>Face-Guest</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        
        <center><h1>FACE-GUEST</h1></center>
        <center><h2>Insira o rosto na marcação</h2></center>
        <video id="camera" width="400" autoplay></video>

        <button id="tirarFoto">Tirar foto</button>

        <canvas id="foto" width="400" height="300"></canvas>

        <center><script>
            const video = document.getElementById("camera");
            const canvas = document.getElementById("foto");
            const botao = document.getElementById("tirarFoto");

            // Abre a câmera
            navigator.mediaDevices.getUserMedia({
                video: true
            })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(erro => {
                console.error("Não foi possível acessar a câmera:", erro);
            });

            // Tira a foto
            botao.addEventListener("click", () => {
                const contexto = canvas.getContext("2d");

                contexto.drawImage(
                    video,
                    0,
                    0,
                    canvas.width,
                    canvas.height
                );
            });
        </script></center>
        
    </div>
    <footer>
        <p>&copy; 2023 Face-Guest. Todos os direitos reservados.</p>
    </footer>
</body>
</html>